<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
    <div class="margin"><img mat-card-image src="assets/img/greenpeacelogo.png" style="max-width:30%;"></div>
    <span class="spacer"></span>
    <div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
        <button mat-icon-button aria-label="Example icon-button with share icon">
     <mat-icon>share</mat-icon>
    </button>
        <button [routerLink]="'/debug'" mat-icon-button aria-label="debug icon">
      <mat-icon>bug_report</mat-icon>
     </button>
    </div>
</mat-toolbar>